{% extends 'theme/admin/base.html' %}
{% load staticfiles %}
{%  block content_wrapper %}
<section class="content-header">
            <h1>User Details</h1>
        </section>
    <section class="content">
            <div class="row">
                <div class="th-md-12">

                        
                        <table class="table table-striped">

<tbody>
  <tr><th>Category</th><th>Details</th></tr>

  <tr><th>Refernce Id</th> <td> {{ form.id }}</td></tr>
  <tr><th>Roll No</th> <td> {{ form.rollno }}</td></tr>
  <tr><th>Name</th>  <td>{{ form.name }}</td></tr>
  <tr><th>Gender</th><td>{{ form.gender}}</td></tr>
  <tr><th>Year</th><td>{{ form.year }}</td></tr>
  <tr><th>Quota</th><td>{{ form.admission_type}}</td></tr>
  <tr><th>Branch</th><td>{{ form.branch}}</td></tr>
  <tr><th>CGPA</th><td>{{ form.cgpa}}</td></tr>
  <tr><tr><th>No of Arrears</th><td>{{ form.no_of_arrears}}</td></tr>
  <tr><th>Area of Residence</th><td>{{ form.area_of_residence}}</td></tr>
  <tr><th>Type of Entry</th><td>{{ form.type_of_entry}}</td></tr>
  <tr><th>Disciplinary Action Faced?</th><td>{{ form.faced_disciplinary_action }}</td></tr>
  <tr><th>Mobile Number</th><td>{{ form.mobile_No}}</td></tr>
  <tr><th>Email</th><td>{{ form.email_id}}</td></tr>
  <tr><th>Posistion Applied</th><td>{{ form.req_posistion}}</td></tr>
  <tr><th>Things to be Implemented or Changed, If selected</th><td>{{ form.change_in_dept}}</td></tr>
  <tr><th>Strengths</th><td>{{ form.strengths}}</td></tr>
  <tr><th>Reference Faculty 1</th><td>{{ form.reference1}}</td></tr>
  <tr><th>Reference Faculty 2</th><td>{{ form.reference2}}</td></tr>
  <tr><th>Name of the Class Advisor</th><td>{{ form.class_advisor}}</td></tr>

  



  </tbody>
                        </table>


</div>
            </div>

        </section>

{% endblock %}