{% extends 'theme/admin/base.html' %}
<section class="content-header">
            <h1>Nomination Form</h1>
        </section>

        <section class="content">
            <div class="row ">
                <div class="col-md-12">

{% block content_wrapper %}
{% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <center style="margin-top: 100px">
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <table style="border-spacing: 20px;
                       border-collapse: separate;" >
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>

        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>

        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    </center>
    </div>
    </div>
    </section>
{% endblock %}